enter[Desktop Entry]
Name=Portfolio 60
Comment=Simple Screen Capture Editor
Exec=porfolio_60 %f
Icon=com.rcollins.porfolio_60
Terminal=false
Type=Application
Categories=Graphics;ImageProcessing;
StartupWMClass=porfolio_60
MimeType=image/png;image/jpeg;
